@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
body { 
    font-family: "Open Sans", sans-serif;
     background-color:cornsilk;;
    color: #654321;;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 10;
    
}

div > div
{
    float: left; 
    text-align: center;
    width: 40%; 
    margin-top: 100px;
}
div > img
{
    float: right; 
    text-align: center;
    width: 50%; 
}
